.page-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.page-title {
  width: 100%; /* Full width */
  height: 8rem;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  font-size: 8rem;
  font-weight: 500;
  font-stretch:ultra-expanded;
  color: var(--iuc-black);
}

