.page-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.page-navbar {
  width: 100%;
  height: 13vh;
  padding: 0 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.page-title {
  height: 100%;
  font-size: 10vh;
  font-weight: 500;
  color: var(--color-neutral-content);
}

.page-nav-links {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 2vh;
}

.iuc-sign-out-button {
  height: 60%;
  margin-left: auto;
  font-size: 3vh; /* 2 * 1rem = 2rem */
}

/* For the container of the form */
.iuc-form-parent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

/* For the actual form */
.iuc-form-child {
  flex-grow: 1;
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  width: 100%;
  padding: 2vh; /* Assuming p-4 equals 4 * 0.25rem = 1rem */
  gap: 1vh; /* Assuming gap-5 equals 5 * 0.25rem = 1.25rem */
}

.iuc-form-input-parent {
  width: 100%;  
  display: flex;
  position: relative;
}

.iuc-form-input {
  width: 100%;
  background-color: transparent; 
  border: none;
  flex-basis: 100%;
  font-size: 8vh;
  font-weight: bold;
  outline: none; 
}

.iuc-form-input-error {
  height: 20%;
  margin: -1vh 0;
  font-size: 2vh;
  color: red;
  position: absolute;
  min-height: 3vh;
  bottom: 0;
}

.iuc-form-input:focus {
  outline: none;
}

.iuc-button-primary {
  width: 100%;
  font-weight: bold; 
  font-size: 4vh; 
  height: 5vh;
  align-items: left;
  text-align: left;
}

.forgot-password-button {
  width: 100%;
  gap: 3vh;
  font-size: 4vh; /* 2 * 1rem = 2rem */
}

.forgot-password-button-parent {
  width: 100%;
}

.login-buttons-parent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 3vh;
  margin-top: auto;
}

.dashboard {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.dashboard-greeting {
  padding-bottom: 1vh;
}

.work-info-panel {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 10vh;
  justify-content: center;
  align-items: center;
}
